/.metadata/
StateMachineExamples/F_InheritancePolymorphism/Debug/
StateMachineExamples/F_ActiveObject/Debug/
StateMachineExamples/F_ActiveObject_v2/Debug/
StateMachineExamples/F_ActiveObject_v3/Debug/

Code_Repository/407_printf/Debug/
Code_Repository/BlinkyButton_AO/Debug/
Code_Repository/BlinkyButton_SM/Debug/
Code_Repository/BlinkyButton_SM2/Debug/
Code_Repository/ClockAlarm_HSM/Debug/
Code_Repository/CommTestAO/Debug/
Code_Repository/CommTestQXK/Debug/
Code_Repository/CommTestQXKLWIPExported/Debug/
Code_Repository/CppExamples/Debug/
Code_Repository/deneme2/Debug/
Code_Repository/printf/Debug/
Code_Repository/Protimer/Debug/
Code_Repository/Protimer_HSM/Debug/
Code_Repository/Protimer_v2/Debug/
Code_Repository/Protimer_v3/Debug/
Code_Repository/PwmExample/Debug/
Code_Repository/RTOSQueue_Example/Debug/
Code_Repository/TimeBomb_HSM/Debug/
Code_Repository/TimeBomb_QHSM_Auto/Debug/
Code_Repository/TimeBomb_QHSM_Manual/Debug/
Code_Repository/TimeBomb_QP/Debug/
Code_Repository/TimeBomb_SM/Debug/
Code_Repository/TimeBomb_SM2/Debug/
Code_Repository/TimeBombExample/Debug/

StateMachineExamples/F_InheritancePolymorphism/.settings/
StateMachineExamples/F_ActiveObject/.settings/
StateMachineExamples/F_ActiveObject_v2/.settings/
StateMachineExamples/F_ActiveObject_v3/.settings/

Code_Repository/407_printf/.settings/
Code_Repository/BlinkyButton_AO/.settings/
Code_Repository/BlinkyButton_SM/.settings/
Code_Repository/BlinkyButton_SM2/.settings/
Code_Repository/ClockAlarm_HSM/.settings/
Code_Repository/CommTestAO/.settings/
Code_Repository/CommTestQXK/.settings/
Code_Repository/CommTestQXKLWIPExported/.settings/
Code_Repository/CppExamples/.settings/
Code_Repository/deneme2/.settings/
Code_Repository/printf/.settings/
Code_Repository/Protimer/.settings/
Code_Repository/Protimer_HSM/.settings/
Code_Repository/Protimer_v2/.settings/
Code_Repository/Protimer_v3/.settings/
Code_Repository/PwmExample/.settings/
Code_Repository/RTOSQueue_Example/.settings/
Code_Repository/TimeBomb_HSM/.settings/
Code_Repository/TimeBomb_QHSM_Auto/.settings/
Code_Repository/TimeBomb_QHSM_Manual/.settings/
Code_Repository/TimeBomb_QP/.settings/
Code_Repository/TimeBomb_SM/.settings/
Code_Repository/TimeBomb_SM2/.settings/
Code_Repository/TimeBombExample/.settings/

